
@model BookSystem.Models.BookViewModels.AddBookViewModel
@{
    ViewData["Title"] = "AddBook";
}

<h2>Add Book</h2>

<div class="row">
    <div class="col-md-12">
        <section class="login-form mr-auto ml-auto m-0">
            <form class="text-white" asp-area="" asp-controller="Book" asp-action="AddBook" method="post">
                <div class="form-group">
                    <div class="col-md-4 col-lg-offset-4">
                        <label asp-for="Title">Boook Title</label>
                        <input asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger p-0 validation-text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-lg-offset-4">
                        <label asp-for="Genre">Book Genre</label>
                        <input asp-for="Genre">
                        <span asp-validation-for="Genre" class="text-danger p-0 validation-text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-md-1">Add</button>
                </div>
            </form>
        </section>
    </div>
</div>

