@model MakeReviewViewModel

@{
    
}

<h2>Make Review on @Model.Book.Title</h2>

<form asp-controller="Book" asp-action="MakeReview" asp-route-Id="@Model.Book.Id" id="review-form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <textarea name="content" class="form-control" rows="5" id="textarea"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit Your Review!</button>
</form>

@section Scripts{ 
<script src="~/js/makereview.js"></script>
}